body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

.h1 {
    font-size: 50px;
}

.orange-color {
    color: orange;
}

section {
    display: flex;
}

.half-width {
    width: 50%;
    padding: 6%;
}

.half-width img {
    width: 80%;
}

.link-button {
    text-decoration: none;
    background-color: chocolate;
    padding: 10px 40px;
    border-radius: 6px;
    background-image: linear-gradient(orange, pink);
    color: white;
    font-weight: 700;
}

.top-banner {
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}